.text_blanc{
    text-shadow:   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     1px 1px 10px #141414;color:#fff;
    ;
    padding: 20px 200px; 

}

.background_color_deroulement{
    background-color: rgb(53, 175, 59);
}

.retrait_petit{
    background-color: rgb(125, 196, 128);
}

a {
    color: rgb(221, 116, 169);
  }

  a:link {
    color: red;
  }
  
  
  a:hover {
    color: rgb(165, 38, 101);
  }